

p {color: blue;}
body {background-color: pink;}
body {background-color: pink;}

img{
    float: left;
    margin-left: 100px 100px 100px 100px;
    width: 300px;
    height: 300px;

header {style="font-size: x-large}
